.calculator {
  /* background-color: rgba(228, 202, 136); */
  /* background-color: rgb(212, 209, 209); */
  /* background-color: rgb(247, 243, 234); */
  /* background-color: rgb(12, 9, 9); */
  background-color: white;
    /* background-color: rgb(244, 244, 244); */
  /* border: 1px solid black; */
  border: 1px solid #eaeaea;
  opacity: 0.95;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  border-radius: 20px;
  width: 80%;
  /* color: white; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



.calculatorForm {
  width: 70%;
  margin: 3rem;
}

@media only screen and (max-width: 768px) {
  .calculator{
    width: 95%;
    max-width: 600px;
  }
  .calculatorForm {
    width: 90%;
    margin: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .calculator {
    width: 30%;
    min-width: 750px;
  }
}

.calculatorDisabled {
  opacity: 0.5;
}

.coinSelectorLabel {
  display: inline-block;
  margin-bottom: 0px;
}

.coinSelectorImg {
  display: inline-block;
  margin-left: 1rem;
}

/* .infoIcon { 
  background-color: #3E6AE1;
  color: white;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  border-radius: 50%;
  margin-right: 8px;
} */

/* .infoIcon { 
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  border-radius: 50%;
  color: #3E6AE1;
  margin-right: 8px;
  border: 2px solid #3E6AE1;
} */

.infoIcon { 
  color: #3E6AE1;
  margin-right: 8px;
}

.info {
  margin-bottom: 1rem;
  margin-top: -.5rem;
}